
 <%= form_for :message, url: [:reply, conversation] do |f| %>
<%= f.text_area :body, :class => "fruute-input", :style => "width: 400px; height: 100px; margin-left: 100px; margin-top: -20px;" %>
<%= f.submit "send",:class => "new-button", :style => "height: 100px; margin-top: -20px;"  %>
 <!--<%= submit_tag 'clear', type: :reset, :class => "new-button" %> -->
 <% end %>    