<style>
  body { background: #f5f8fa; }
 
</style>

<div id="page" class="main_wrapper clearfix">
<div id="faq">
  <div id="login-main" style="border: 1px solid #e1e8ed; border-radius: 5px; padding: 5px; width: 500px; background: white;">
				

 
  <h1>send a message to <%= @user.username %></h1>
    <hr style="color: #e1e8ed;">
 <%= form_tag({controller: "messages", action: "create"}, method: :post) do %>
     
      
         <%= label_tag :subject %><br />                         
         <%= text_field_tag :subject, nil, :class => 'fruute-input', :style => "width: 300px;"  %>
    
  
    <br />
      <%= label :body, "Message" %><br />
      <%= text_area_tag :body, nil, :class => 'fruute-input', :style => "width: 300px; height: 100px;" %>
  
  <%= hidden_field_tag(:user, "#{@user.username}") %>
    <br />
    <br />
<!--<%= submit_tag 'send', :class => "new-button" %> -->
    
  <%= button_tag(type: 'submit', class: "new-button", style: "width: 224px; height: 50px;") do %>
 <i class="fa fa-location-arrow"></i>
     <% end %>     

  <% end %>
    
  </div>
  </div>
  </div>
