<style>
  #formsite
  {
    margin-top: 0%;
    margin-left: 15%;
  }
</style>

			

 <div id="login-area">
	<div class="main_wrapper">
		<div id="login-main">
			<center>
				<div id="login-error">
									</div>
			</center>
    
			<div id="slide-stage">
				<div id="login-panel">
<div id="samples_wrapper" class="main_wrapper">
<div id="formsite"> 
  <br /> <br /> <br /> 
  <h2 style="color:gray; font-size: 52px;"><%= resource_name.to_s.humanize %>'s account settings</h2>
   <br /><br />
<div id="contact_info_header" class="checkout_header" style="width:500px" onclick="$('#contact_info_wrap').slideToggle('fast');">contact info & password</div>
			<div id="contact_info_wrap" class="hide">  
  <div class="form_wrap hide">
  
<h1><%= resource_name.to_s.humanize %> account settings</h1>
  </div>
            <div class="form_wrap">	
    
             
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

        
    <%= f.file_field :avatar %>
        
			<!--	<div class="form_wrap">	 -->	
  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true, :id => 'user-email', :class => "fruute-input sign-in", :size => 29 %>
  </div>
        <br />
        <div><%=f.label :firstname %><br />
          <%= f.text_field :firstname, :class => "fruute-input sign-in", :size => 25 %>
        </div>
        
         <br />
        <div><%=f.label :lastname %><br />
          <%= f.text_field :lastname, :class => "fruute-input sign-in", :size => 25 %>
        </div>
        
         <br />
        <div><%=f.label :school %><br />
          <%= f.text_field :school, :class => "fruute-input", :size => 25 %>
        </div>
        
         <div><%=f.label :bio %><br />
         <%= f.text_area :bio, :class => "fruute-input", :style => " width: 500px; height: 200px;" %>
        </div>
  <div class="form_wrap">
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
 <br />
  <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off", :id => 'user-email', :class => "fruute-input sign-in", :size => 29 %></div>

  <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", :id => 'user-email', :class => "fruute-input sign-in", :size => 29 %></div>
  </div>
   <br />
  <div class="form_wrap">
  <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off", :id => 'user-email', :class => "fruute-input sign-in", :size => 29 %></div>
          <br />
    
  </div>
  <div><%= f.submit "Update" , :id => "submit-login", :class => "new-button" %></div>
<% end %>

          <br />
          <p>Unhappy? <%= button_to "delete me", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, :class => "new-button", :size => 20 %></p>

<%= link_to "Back", :back %>
        
        
        <br />
        </div></div>
  <div id="order_history_header" class="checkout_header" style="width:500px; cursor:pointer;" onclick="$('#order_history_wrap').slideToggle('fast');">my listings</div>
			<div id="order_history_wrap" class="hide">
        <div class="form_wrap">
        
        </div>
           <% mypost.each do |mypost| %>
    <% if current_user.username == mypost.email %>
        <%= link_to mypost do %>
          <div class="form_wrap">
          <h2><%= mypost.title %></h2>
    <p><%= mypost.author %><p>price: <%= mypost.price %></p> location: <%= mypost.school %>
      <hr style="width: 505px;">
        

          
 
    
        <%= link_to 'Edit', edit_post_path(mypost) %>
        <%= link_to 'Destroy', mypost, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
   </div> 
    <% end %>
<% end %>
   
          
          
        </div>
</div>

  <br />  <br />  <br />  <br />

