
    
    <style>
  #formsite
  {
    margin-left: 40%;
  }
</style>
 <div id="login-area">
   <div class="main_wrapper">
		<div id="login-main">
			<center>
				<div id="login-error">
									</div>
			</center>

			<div id="slide-stage">
				<div id="login-panel">
               
  <div id="formsite">
          
<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
    <div><%= f.label :username %><br />
      <%= f.text_field :username, :class => "fruute-input sign-in", :size => 25 %>
  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true, :id => 'user-email', :class => "fruute-input sign-in", :size => 25  %></div>

     
        <div><%=f.label :firstname %><br />
          <%= f.text_field :firstname, :class => "fruute-input sign-in", :size => 25 %>
        </div>
        
        <div><%=f.label :lastname %><br />
          <%= f.text_field :lastname, :class => "fruute-input sign-in", :size => 25 %>
        </div>
        
        <div><%=f.label :school %><br />
          <%= f.text_field :school, :class => "fruute-input sign-in", :size => 25 %>
        </div>
        
  <div><%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off",  :id => 'user-password', :class => "fruute-input sign-in", :size => 25  %></div>

  <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off",  :id => 'user-password', :class => "fruute-input sign-in", :size => 25  %></div>
    <br />
  <div><%= f.submit "Sign up",   :id => "submit-login", :class => "new-button", :style => "width: 224px" %></div>
<% end %>

<%= render "devise/shared/links" %>
</div>
  
  
  
  
 