
  <hr/>
  <%= link_to "×", comment_path(comment), :method => :delete, :remote => true, :confirm => "Are you sure you want to remove this comment?", :disable_with => "×", :class => 'close' %>
  <h4>
    <%= comment.user.username %>
    <small>
      <%= comment.updated_at %>
    </small>
  </h4>
  <p>
    <%= comment.body %>
  </p>
