
  <div id= "faq">
       <h2><%= @user.username %></h2>
    
      <h2>Comments</h2>
      <%= render :partial => 'comments/form', :locals => { :comment => @new_comment } %>
      <%= render :partial => 'comments/comment', :collection => @comments, :as => :comment %>
    </div>
  


  