/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Cit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/* line 19, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.pagination {
  padding: 3px;
  margin: 3px;
}

/* line 24, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.pagination a {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #a7c5c5;
  text-decoration: none;
  color: #a7c5c5;
}

/* line 31, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.pagination a:hover, .pagination a:active {
  border: 1px solid lightgray;
  color: gray;
  background-color: #ffb1b1;
}

/* line 36, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.pagination span.current {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #000099;
  font-weight: bold;
  background-color: #000099;
  color: #FFF;
}

/* line 45, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.pagination span.disabled {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #eee;
  color: #ddd;
}

/* line 57, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#rectmine {
  width: 501px;
  padding: 5px;
}

/* line 61, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#rectmine:hover {
  background: #d7dce1;
  opacity: 0.6;
}

/* line 68, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.flash {
  text-align: center;
  width: 100%;
  padding: 10px 0 10px 0;
  margin-top: 1em;
  color: #333333;
  border: 1px solid black;
  font-family: 'Avenir Ultra Light';
  src: url("AvenirLTStd-Medium.eot");
  src: url("AvenirLTStd-Medium.eot?#iefix") format("embedded-opentype"), url("AvenirLTStd-Medium.woff") format("woff"), url("AvenirLTStd-Medium.ttf") format("truetype"), url("AvenirLTStd-Medium.svg#AvenirLTStd-Medium") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*
 Flash message styles
*/
/* line 89, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.notice {
  margin-left: 29%;
  font-family: 'Avenir Ultra Light';
  src: url("AvenirLTStd-Medium.eot");
  src: url("AvenirLTStd-Medium.eot?#iefix") format("embedded-opentype"), url("AvenirLTStd-Medium.woff") format("woff"), url("AvenirLTStd-Medium.ttf") format("truetype"), url("AvenirLTStd-Medium.svg#AvenirLTStd-Medium") format("svg");
  font-weight: normal;
  font-style: normal;
  color: #E86850;
}

/* line 105, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.alert {
  margin-left: 29%;
  font-family: 'Avenir Ultra Light';
  src: url("AvenirLTStd-Medium.eot");
  src: url("AvenirLTStd-Medium.eot?#iefix") format("embedded-opentype"), url("AvenirLTStd-Medium.woff") format("woff"), url("AvenirLTStd-Medium.ttf") format("truetype"), url("AvenirLTStd-Medium.svg#AvenirLTStd-Medium") format("svg");
  font-weight: normal;
  font-style: normal;
  color: #E86850;
}

/* line 122, /home/action/booklist/app/assets/stylesheets/application.css.scss */
a:link {
  color: #909090;
}

/* line 125, /home/action/booklist/app/assets/stylesheets/application.css.scss */
a:visited {
  color: #909090;
}

/* line 129, /home/action/booklist/app/assets/stylesheets/application.css.scss */
a:active {
  color: #909090;
}

/* line 135, /home/action/booklist/app/assets/stylesheets/application.css.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 136, /home/action/booklist/app/assets/stylesheets/application.css.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 137, /home/action/booklist/app/assets/stylesheets/application.css.scss */
audio:not([controls]) {
  display: none;
}

/* line 138, /home/action/booklist/app/assets/stylesheets/application.css.scss */
[hidden] {
  display: none;
}

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */
/* line 150, /home/action/booklist/app/assets/stylesheets/application.css.scss */
html {
  height: 100%;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 152, /home/action/booklist/app/assets/stylesheets/application.css.scss */
html, button, input, select, textarea {
  font-family: sans-serif;
  /*color: #ffffff;*/
}

/* line 154, /home/action/booklist/app/assets/stylesheets/application.css.scss */
body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
  background-color: #ffffff;
  height: 100%;
  min-width: 980px;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */
/* line 162, /home/action/booklist/app/assets/stylesheets/application.css.scss */
::-moz-selection {
  background: #A7C5C5;
  color: #fff;
  text-shadow: none;
}

/* line 163, /home/action/booklist/app/assets/stylesheets/application.css.scss */
::selection {
  background: #A7C5C5;
  color: #fff;
  text-shadow: none;
}

/* =============================================================================
   Typography
   ========================================================================== */
/* line 169, /home/action/booklist/app/assets/stylesheets/application.css.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 171, /home/action/booklist/app/assets/stylesheets/application.css.scss */
b, strong {
  font-weight: bold;
}

/* line 173, /home/action/booklist/app/assets/stylesheets/application.css.scss */
blockquote {
  margin: 1em 40px;
}

/* line 175, /home/action/booklist/app/assets/stylesheets/application.css.scss */
dfn {
  font-style: italic;
}

/* line 177, /home/action/booklist/app/assets/stylesheets/application.css.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 179, /home/action/booklist/app/assets/stylesheets/application.css.scss */
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 181, /home/action/booklist/app/assets/stylesheets/application.css.scss */
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* Redeclare monospace font family: h5bp.com/j */
/* line 184, /home/action/booklist/app/assets/stylesheets/application.css.scss */
pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* Improve readability of pre-formatted text in all browsers */
/* line 187, /home/action/booklist/app/assets/stylesheets/application.css.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 189, /home/action/booklist/app/assets/stylesheets/application.css.scss */
q {
  quotes: none;
}

/* line 190, /home/action/booklist/app/assets/stylesheets/application.css.scss */
q:before, q:after {
  content: "";
  content: none;
}

/* line 192, /home/action/booklist/app/assets/stylesheets/application.css.scss */
small {
  font-size: 85%;
}

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
/* line 195, /home/action/booklist/app/assets/stylesheets/application.css.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 196, /home/action/booklist/app/assets/stylesheets/application.css.scss */
sup {
  top: -0.5em;
}

/* line 197, /home/action/booklist/app/assets/stylesheets/application.css.scss */
sub {
  bottom: -0.25em;
}

/* =============================================================================
   Lists
   ========================================================================== */
/* line 204, /home/action/booklist/app/assets/stylesheets/application.css.scss */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

/* line 205, /home/action/booklist/app/assets/stylesheets/application.css.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 206, /home/action/booklist/app/assets/stylesheets/application.css.scss */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */
/* line 218, /home/action/booklist/app/assets/stylesheets/application.css.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/*
 * Correct overflow not hidden in IE9
 */
/* line 224, /home/action/booklist/app/assets/stylesheets/application.css.scss */
svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
   Figures
   ========================================================================== */
/* line 231, /home/action/booklist/app/assets/stylesheets/application.css.scss */
figure {
  margin: 0;
}

/* =============================================================================
   Forms
   ========================================================================== */
/* line 238, /home/action/booklist/app/assets/stylesheets/application.css.scss */
form {
  margin: 0;
}

/* line 239, /home/action/booklist/app/assets/stylesheets/application.css.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Indicate that 'label' will shift focus to the associated form element */
/* line 242, /home/action/booklist/app/assets/stylesheets/application.css.scss */
label {
  cursor: pointer;
}

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */
/* line 249, /home/action/booklist/app/assets/stylesheets/application.css.scss */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */
/* line 257, /home/action/booklist/app/assets/stylesheets/application.css.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */
/* line 263, /home/action/booklist/app/assets/stylesheets/application.css.scss */
button, input {
  line-height: normal;
}

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */
/* line 271, /home/action/booklist/app/assets/stylesheets/application.css.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

/*
 * Re-set default cursor for disabled elements
 */
/* line 277, /home/action/booklist/app/assets/stylesheets/application.css.scss */
button[disabled], input[disabled] {
  cursor: default;
}

/*
 * Consistent box sizing and appearance
 */
/* line 283, /home/action/booklist/app/assets/stylesheets/application.css.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}

/* line 284, /home/action/booklist/app/assets/stylesheets/application.css.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 285, /home/action/booklist/app/assets/stylesheets/application.css.scss */
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */
/* line 291, /home/action/booklist/app/assets/stylesheets/application.css.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */
/* line 298, /home/action/booklist/app/assets/stylesheets/application.css.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* Colors for form validity */
/* line 302, /home/action/booklist/app/assets/stylesheets/application.css.scss */
input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

/* =============================================================================
   Tables
   ========================================================================== */
/* line 309, /home/action/booklist/app/assets/stylesheets/application.css.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 310, /home/action/booklist/app/assets/stylesheets/application.css.scss */
td {
  vertical-align: middle;
}

/* =============================================================================
   Chrome Frame Prompt
   ========================================================================== */
/* line 317, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: black;
  padding: 0.2em 0;
}

/* ==|== primary styles =====================================================
   Author:
   ========================================================================== */
/**************************************************************
Version:	1.0
Template:	Default
Author:		Noah Mormino
Company:	Clear Sky Designs
Notes:		Default template for Gocart 1.0
**************************************************************/
/* get some basics out the way */
/* line 333, /home/action/booklist/app/assets/stylesheets/application.css.scss */
html {
  overflow-y: scroll;
}

/* line 334, /home/action/booklist/app/assets/stylesheets/application.css.scss */
* {
  outline: none;
}

/* line 335, /home/action/booklist/app/assets/stylesheets/application.css.scss */
img {
  border: 0px;
}

/* line 336, /home/action/booklist/app/assets/stylesheets/application.css.scss */
form {
  margin: 0px;
  padding: 0px;
}

/* line 337, /home/action/booklist/app/assets/stylesheets/application.css.scss */
p {
  margin: 0px 0px 10px 0px;
}

/* line 338, /home/action/booklist/app/assets/stylesheets/application.css.scss */
iframe {
  border: 0px;
}

/* base tables
th {
	padding:5px;
	background:#ccc;
	font-size:14px;
	color:#525252;
}
*/
/* base link styles */
/* line 350, /home/action/booklist/app/assets/stylesheets/application.css.scss */
a, a:visited {
  color: #A7C5C5;
  text-decoration: none;
}

/* line 351, /home/action/booklist/app/assets/stylesheets/application.css.scss */
a:hover {
  color: #4d9ff0;
}

/*basic classes*/
/* line 354, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.left {
  float: left;
}

/* line 355, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.right {
  float: right;
}

/* line 356, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.center {
  margin: auto;
  text-align: center;
}

/* line 357, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.clear {
  clear: both;
}

/* line 358, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.bold {
  font-weight: bold;
}

/* line 359, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.none {
  display: none;
}

/* line 360, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.red {
  color: #ca2b3d;
}

/* line 362, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* line 367, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.clearfix:after {
  clear: both;
}

/* structural wrappers */
/* line 371, /home/action/booklist/app/assets/stylesheets/application.css.scss */
body {
  margin: 0px;
  padding: 0px;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  font-size: 12px;
  color: #909090;
}

/* line 379, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.full_wrap {
  width: 100%;
  clear: both;
}

/* line 384, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.main_wrapper {
  width: 960px;
  margin: auto;
  position: relative;
}

/* line 390, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.content_wrap {
  width: 950px;
  padding: 5px;
  margin: auto;
  border: 5px solid #ddd;
  border-top: 0px;
  background-color: #fff;
}

/* common styling */
/* line 400, /home/action/booklist/app/assets/stylesheets/application.css.scss */
textarea {
  resize: none;
}

/* line 403, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.hide {
  display: none;
}

/* fonts */
@font-face {
  font-family: 'Avenir Ultra Light';
  src: url(/assets/AvenirNextLTPro-UltLt.eot);
  src: url(/assets/AvenirNextLTPro-UltLt.eot?#iefix) format("embedded-opentype"), url(/assets/AvenirNextLTPro-UltLt.woff) format("woff"), url(/assets/AvenirNextLTPro-UltLt.ttf) format("truetype"), url(/assets/AvenirNextLTPro-UltLt.svg#AvenirNextLTPro-UltLt) format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on October 1, 2012 */
@font-face {
  font-family: 'Avenir Heavy';
  src: url(/assets/avenirltstd-heavy-webfont.eot);
  src: url(/assets/avenirltstd-heavy-webfont.eot?#iefix) format("embedded-opentype"), url(/assets/avenirltstd-heavy-webfont.woff) format("woff"), url(/assets/avenirltstd-heavy-webfont.ttf) format("truetype"), url(/assets/avenirltstd-heavy-webfont.svg#avenirltstd-heavy-webfont) format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Book';
  src: url(/assets/avenirltstd-book-webfont.eot);
  src: url(/assets/avenirltstd-book-webfont.eot?#iefix) format("embedded-opentype"), url(/assets/avenirltstd-book-webfont.woff) format("woff"), url(/assets/avenirltstd-book-webfont.ttf) format("truetype"), url(/assets/avenirltstd-book-webfont.svg#avenirltstd-book-webfont) format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Black';
  src: url(/assets/avenirltstd-black-webfont.eot);
  src: url(/assets/avenirltstd-black-webfont.eot?#iefix) format("embedded-opentype"), url(/assets/avenirltstd-black-webfont.woff) format("woff"), url(/assets/avenirltstd-black-webfont.ttf) format("truetype"), url(/assets/avenirltstd-black-webfont.svg#avenirltstd-black-webfont) format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Medium';
  src: url(/assets/AvenirLTStd-Medium.eot);
  src: url(/assets/AvenirLTStd-Medium.eot?#iefix) format("embedded-opentype"), url(/assets/AvenirLTStd-Medium.woff) format("woff"), url(/assets/AvenirLTStd-Medium.ttf) format("truetype"), url(/assets/AvenirLTStd-Medium.svg#AvenirLTStd-Medium) format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Regular';
  src: url(/assets/AvenirNextLTPro-Regular.eot);
  src: url(/assets/AvenirNextLTPro-Regular.eot?#iefix) format("embedded-opentype"), url(/assets/AvenirNextLTPro-Regular.woff) format("woff"), url(/assets/AvenirNextLTPro-Regular.ttf) format("truetype"), url(/assets/AvenirNextLTPro-Regular.svg#AvenirNextLTPro-Regular) format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Demi';
  src: url(/assets/AvenirNextLTPro-Demi.eot);
  src: url(/assets/AvenirNextLTPro-Demi.eot?#iefix) format("embedded-opentype"), url(/assets/AvenirNextLTPro-Demi.woff) format("woff"), url(/assets/AvenirNextLTPro-Demi.ttf) format("truetype"), url(/assets/AvenirNextLTPro-Demi.svg#AvenirNextLTPro-Demi) format("svg");
  font-weight: normal;
  font-style: normal;
}

/* end fonts */
/* header */
/* line 489, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#navbar a, #footer a {
  color: #909090;
}

/* line 492, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#navbar a:hover, #footer a:hover {
  color: #A7C5C5 !important;
}

/* line 495, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#cart_total {
  cursor: pointer;
}

/* line 498, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#email-signup-text {
  width: 135px;
  height: 23px;
  color: #909090;
  border: 1px solid #ccc;
  border-radius: 3px 0 0 3px;
  text-align: center;
  font-size: 12px;
  font-family: 'Avenir Regular';
  float: left;
  margin-left: 20px;
}

/* line 511, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#email-signup-submit {
  font-size: 12px;
  font-family: 'Avenir Regular';
  color: #fff;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-left: none;
  background: #a7c5c5;
  height: 27px;
  padding: 5px 10px;
  border-radius: 0 3px 3px 0;
  float: left;
}

/* line 528, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#email-signup-submit:hover {
  background: #909090;
}

/* line 531, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 110;
  box-shadow: 0px 0px 5px 0px #444;
  -webkit-box-shadow: 0px 0px 5px 0px #444;
}

/* line 540, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.error {
  color: red;
  font-family: 'Avenir Medium';
  text-transform: uppercase;
  font-size: 10px;
  padding: 5px 0;
}

/* line 548, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.success {
  color: #a7c5c5;
  font-family: 'Avenir Medium';
  text-transform: uppercase;
  font-size: 10px;
  padding: 5px 0;
}

/* line 556, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#navbar {
  position: relative;
  height: 28px;
  /*border-bottom: 1px solid #d9d9d9; */
  line-height: 28px;
  font-family: 'Avenir Regular';
  font-size: 13px;
  z-index: 20;
}

/* line 566, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#navbar_navi {
  margin-top: 5px;
}

/* line 569, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#navbar_navi ul {
  padding: 0;
  margin: 0;
}

/* line 573, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#navbar_navi ul li {
  list-style: none;
  display: inline;
  margin-left: 10px;
}

/* line 578, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#navbar_navi ul li a {
  text-decoration: none;
}

/* line 581, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#your_cart:hover {
  color: #a7c5c5;
  cursor: pointer;
}

/* line 585, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.checkout #your_cart:hover {
  cursor: default;
  color: #909090;
}

/*#tagline {
	color: #a7c5c5;
	margin-top: 5px;
}*/
/* line 593, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#tagline {
  color: #88c5c0;
  margin-top: 8px;
  font-family: 'Avenir Regular';
  font-size: 17px;
  text-align: center;
  font-weight: normal;
}

/* line 601, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#header {
  margin-top: 14px;
  background-color: transparent;
  z-index: 10;
  position: relative;
}

/* line 607, /home/action/booklist/app/assets/stylesheets/application.css.scss */
a.greeting-name {
  text-transform: capitalize;
  color: #a7c5c5 !important;
}

/* line 611, /home/action/booklist/app/assets/stylesheets/application.css.scss */
a.greeting-name:hover {
  color: #909090 !important;
}

/*#header {
	margin-top: 30px;
	background-color: transparent;
	z-index:10;
	position: relative;
}*/
/* line 620, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#header.home {
  background: none;
  z-index: 10;
}

/* line 625, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#logo {
  margin: auto;
  height: 45px;
  width: 137px;
  background: url(/assets/logo2.gif) 0px 0px no-repeat;
  margin-top: -30px;
}

/* line 633, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#logo a {
  display: block;
  height: 100%;
  width: 100%;
}

/* line 638, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#header_navi {
  margin: 10px auto 15px auto;
  font-size: 14px;
  font-family: 'Avenir Regular';
  color: #909090;
  text-align: center;
}

/* line 645, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#header_navi a {
  color: #909090;
}

/* line 648, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#header_navi a:hover {
  color: #A7C5C5;
}

/* line 651, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#header_navi ul {
  padding: 0;
  margin: 0;
}

/* line 655, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#header_navi ul li {
  list-style: none;
  display: inline;
  margin-right: 25px;
  font-size: 15px;
  color: #ddd;
}

/* line 662, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#header_navi ul li.last {
  margin-right: 0;
}

/* forgot password */
/* line 667, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#forgot-password-modal {
  background: white;
  width: 400px;
  height: 230px;
  margin-top: -1000px;
  margin-left: -200px;
}

/* line 675, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#forgot_password {
  margin: 20px 30px;
  width: 100%;
}

/* line 679, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#forgot_password h1 {
  font-family: 'Avenir Ultra Light';
  font-size: 32px;
  margin: 0;
  padding: 0;
}

/* line 686, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#forgot_password h3 {
  font-family: 'Avenir Regular';
  text-transform: lowercase;
  font-size: 12px;
}

/*** PAGE **/
/* line 692, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#page div {
  margin: 50px 50px;
}

/* line 695, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#page h1 {
  font-family: 'Avenir Ultra Light';
  font-size: 32px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

/* line 702, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#page h2 {
  font-family: 'Avenir Medium';
  font-weight: normal;
  text-transform: lowercase;
  color: #a7c5c5;
  font-size: 15px;
  padding: 0;
  margin: 10px 0;
}

/* line 712, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#page #faq h2 {
  font-family: 'Avenir Ultra Light';
  font-size: 32px;
  font-weight: normal;
  margin: 15px 0;
  color: #a7c5c5;
}

/* line 719, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#page #faq strong {
  font-family: 'Avenir Medium';
  font-weight: normal;
  font-size: 15px;
  margin-top: 20px;
  color: #a7c5c5;
}

/* line 726, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#page p {
  font-weight: normal;
  text-transform: lowercase;
  font-size: 15px;
  line-height: 20px;
}

/* Share email */
/* line 733, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#share_email_modal {
  margin-top: -2270px;
  margin-left: -360px;
  width: 720px;
  height: 670px;
  background: white;
}

/* line 741, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#share-email-header h1 {
  font-family: 'Avenir Ultra Light';
  font-size: 32px;
  padding: 0;
  margin: 10px 0;
}

/* line 747, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#share-email-header p {
  font-family: 'Avenir Regular';
  font-size: 13px;
}

/* line 751, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#share-email-stage {
  overflow: hidden;
  width: 720px;
}

/* line 755, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#share-email-wrap {
  width: 480px;
  padding: 80px 119px;
  float: left;
}

/* line 761, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#share_email_fullname input, #share_email_email input {
  width: 215px;
}

/* line 764, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#share_email_fullname {
  margin-right: 21px;
}

/* line 767, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#share_email-form .form_wrap {
  height: 70px;
}

/* line 770, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#share_email_email_to input, #share_email_subject input {
  width: 464px;
}

/* line 773, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#share_email_message {
  height: 150px !important;
}

/* line 776, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#share_email_message textarea {
  width: 464px;
  height: 110px;
}

/* line 780, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#share-email-container {
  width: 1500px;
}

/* line 783, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#share_email_sample {
  float: left;
  padding: 20px;
  width: 660px;
}

/* line 788, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#share_email_sample_wrap h1 {
  font-family: 'Avenir Regular';
  color: #a7c5c5;
  font-size: 13px;
  font-weight: normal;
  padding: 20px 0;
}

/* line 795, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#share_email_sample_wrap {
  position: relative;
  font-family: 'Avenir Regular';
  font-size: 13px;
}

/* line 800, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#share_email_fruute_logo {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 0px;
}

/* contact page */
/* line 807, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#page_dim {
  position: fixed;
  height: 100%;
  width: 100%;
  display: none;
  background: black;
  opacity: 0.5;
  -moz-opacity: 0.5;
  -webkit-opacity: 0.5;
  z-index: 100;
}

/* line 820, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#contact_us_modal {
  margin-top: -2270px;
  margin-left: -365px;
  width: 740px;
  height: 560px;
  background: white;
}

/* line 828, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#contact-us-wrap {
  width: 720px;
  margin: 20px 30px;
}

/* line 832, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#contact-us-wrap h1 {
  font-family: 'Avenir Ultra Light';
  font-size: 32px;
  margin: 0 0 10px 0;
  padding: 0;
}

/* line 838, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#contact-us-wrap h2 {
  margin: 0;
  padding: 0;
  font-family: 'Avenir Medium';
  font-size: 15px;
}

/* line 844, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#contact-us-wrap .left {
  width: 190px;
  font-family: 'Avenir Regular';
  font-size: 13px;
}

/* line 850, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#contact-us-wrap .left strong {
  font-family: 'Avenir Medium';
  font-size: 15px;
}

/* line 854, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#contact-us-wrap .right {
  width: 520px;
}

/* line 857, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#contact-us-wrap .right div {
  margin-bottom: 25px;
}

/* line 860, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#contact_fullname, #contact_phone {
  float: left;
  margin-right: 10px;
}

/* line 864, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#contact_fullname input, #contact_email input, #contact_phone input, #contact_order input {
  width: 222px;
}

/* line 867, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#contact_subject input, #contact_message textarea {
  clear: both;
  width: 466px;
}

/* line 871, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#contact_message textarea {
  height: 150px;
}

/* line 874, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#contact_submit {
  float: right;
  margin-right: 42px;
  width: 250px;
  text-align: right;
}

/* line 880, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#contact_us_close_btn {
  /*margin-right: 40px;*/
}

/* corporate */
/* line 884, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#corporate-wrap {
  height: 4500px;
}

/* line 887, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.corporate-block {
  position: absolute;
  width: 100%;
  text-align: center;
}

/* line 892, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.corporate-block > div > h2 {
  font-family: 'Avenir Regular';
  margin-top: 60px;
  margin-bottom: 50px;
  font-weight: normal;
}

/* line 898, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.corporate-block > div > h2 > .thin {
  font-family: 'Avenir Ultra Light';
}

/* line 901, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.corporate-block > div > h2 > a, .corporate-block > div > h2 {
  color: #777777;
}

/* line 904, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.corporate-block > div > h2 > a:hover {
  color: #F04D4D;
}

/* line 907, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.corporate-block .arrow-top {
  background: url("/images/corporate-arrow-top-bg.jpg");
}

/* line 910, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.corporate-block .arrow-bottom {
  width: 100%;
  position: absolute;
  bottom: 0;
  background: url("/images/corporate-arrow-bottom-bg.jpg");
}

/* line 916, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.corporate-block .arrow-bottom-cyan {
  width: 100%;
  position: absolute;
  bottom: 0;
  background: url("/images/corporate-arrow-bottom-cyan-bg.jpg");
}

/* line 922, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#corporate-block {
  top: 180px;
  height: 1280px;
  background: #edebe7;
}

/* line 927, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#corporate-block > div {
  margin-top: 294px;
}

/* line 930, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#corporate-block > div:first-child {
  margin-top: 80px;
}

/* line 933, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#corporate-block > div > .coroporate_image {
  margin-top: 80px;
}

/* line 936, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#corporate-block h1 {
  font-family: 'Avenir Regular';
  font-weight: normal;
  font-size: 63px;
  line-height: 67px;
  color: #8eb6b3;
}

/* line 943, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#corporate-block-1 {
  top: 1280px;
  height: 990px;
  background: #fffdf0;
}

/* line 948, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#corporate-block-2 {
  top: 2260px;
  height: 780px;
  background: #edebe7;
}

/* line 953, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#corporate-block-3 {
  top: 3040px;
  height: 780px;
  background: #fffdf0;
}

/* line 958, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#corporate-block-4 {
  top: 3820px;
  height: 850px;
  background: #b6d0d2;
}

/* one special cookie */
/* line 964, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#our-story-area {
  background: #edebe7;
  padding: 40px 40px 0 40px;
  overflow: hidden;
}

/* line 969, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#our-story-photo {
  float: left;
  width: 340px;
}

/* line 973, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#our-story-text {
  float: left;
  width: 530px;
}

/* line 977, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#our-story-text h1 {
  font-family: 'Avenir Ultra Light';
  font-size: 32px;
  line-height: 36px;
  margin-top: 0px;
}

/* line 983, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#our-story-text p {
  font-family: 'Avenir Regular';
  font-size: 13px;
  line-height: 22px;
  margin-bottom: 20px;
}

/* philosophy */
/* line 991, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#philosophy-area {
  background: url("/images/fruute_philosophy_background.jpg") no-repeat;
  width: 959px;
  height: 1321px;
  position: relative;
}

/* line 999, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#phil_title {
  position: absolute;
  top: 28px;
  left: 83px;
}

/* line 1004, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#phil_title h1 {
  font-family: 'Avenir Ultra Light';
  font-weight: normal;
  font-size: 62px;
  line-height: 65px;
  padding: 0;
  margin: 0;
  color: white;
}

/* line 1013, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#phil_detail_wrap {
  position: absolute;
  top: 370px;
  left: 83px;
  color: #909090;
}

/* line 1020, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.phil_detail_box {
  float: left;
  width: 240px;
  height: 140px;
  padding-right: 30px;
  padding-bottom: 40px;
}

/* line 1027, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.phil_detail_box h2 {
  font-family: 'Avenir Ultra Light';
  font-weight: normal;
  font-size: 32px;
  padding: 0;
  margin: 0 0 10px 0;
}

/* line 1034, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.phil_detail_box p {
  font-family: 'Avenir Regular';
  font-size: 13px;
  margin: 0;
  padding: 0;
}

/* login */
/* line 1042, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.facebook-login-button {
  height: 40px;
  width: 256px;
  display: block;
  background: url("/images/facebook-login.png") no-repeat;
}

/* line 1048, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.facebook-connect-button {
  height: 40px;
  width: 256px;
  display: block;
  background: url("/images/facebook-connect.png") no-repeat;
}

/* line 1054, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#login-main label {
  text-transform: uppercase;
  font-family: 'Avenir Regular';
  font-size: 10px;
}

/* line 1059, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#login-main h2 {
  font-family: 'Avenir Ultra Light';
  font-size: 32px;
  font-weight: normal;
  text-transform: lowercase;
  color: #909090;
  margin: 0;
  padding: 0;
}

/* line 1068, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#login-main p {
  font-family: 'Avenir Regular';
  font-size: 15px;
}

/* line 1072, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#login-panel {
  float: left;
  width: 420px;
}

/* line 1077, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#slide-stage {
  width: 860px;
  margin: auto;
}

/* line 1081, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#signup-panel {
  float: left;
  padding-left: 55px;
  border-left: 1px solid #ccc;
}

/* line 1086, /home/action/booklist/app/assets/stylesheets/application.css.scss */
a#forgot-password {
  font-style: italic;
  font-family: 'Avenir Regular';
}

/* buttons */
/* custom buttons */
/* line 1093, /home/action/booklist/app/assets/stylesheets/application.css.scss */
form input {
  color: black;
}

/* line 1096, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.fruute-input {
  border: 1px solid #ccc;
  line-height: 30px;
  height: 30px;
  font-size: 17px;
  color: #909090;
  font-family: 'Avenir Regular';
  font-weight: normal;
  padding: 0 5px;
}

/* line 1110, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.new-button {
  font-family: 'Avenir Ultra Light';
  color: white !important;
  border: none;
  background-color: #a7c5c5;
  font-size: 32px;
  text-transform: lowercase;
  border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  text-align: center;
  width: 200px;
  cursor: pointer;
  line-height: 32px;
}

/* line 1126, /home/action/booklist/app/assets/stylesheets/application.css.scss */
a.new-button {
  display: inline-block;
  padding: 10px 0;
}

/* line 1130, /home/action/booklist/app/assets/stylesheets/application.css.scss */
input.new-button {
  width: 200px;
  height: 48px;
  padding-top: 6px;
}

/* line 1135, /home/action/booklist/app/assets/stylesheets/application.css.scss */
div.new-button {
  padding-top: 10px;
  padding-bottom: 6px;
}

/* line 1139, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.new-button:hover {
  background-color: #909090;
}

/* line 1142, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.new-button.no-hover:hover {
  background-color: #a7c5c5;
  cursor: default;
}

/* line 1146, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.apply-button {
  font-family: 'Avenir Ultra Light';
  color: #909090;
  border: none;
  background-color: #edebe7;
  font-size: 25px;
  text-transform: lowercase;
  border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  text-align: center;
  width: 100px;
  cursor: pointer;
  line-height: 28px;
}

/* line 1162, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.apply-button:hover {
  background: #a7c5c5;
  color: white;
}

/* line 1166, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.close_x_btn {
  background: url(/images/fruute_sprites.png) no-repeat;
  background-position: -24px 0px;
  display: block;
  width: 13px;
  height: 13px;
  text-indent: -99999em;
  cursor: pointer;
  float: right;
  z-index: 200;
  position: absolute;
  top: 20px;
  right: 20px;
}

/* line 1183, /home/action/booklist/app/assets/stylesheets/application.css.scss */
submit-login {
  background: #a7c5c5;
}

/* homepage */
/* line 1189, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#slideshow-area {
  clear: both;
  height: 487px;
  margin-bottom: 30px;
  z-index: 0;
}

/* line 1195, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#home-slideshow {
  height: 495px;
}

/* line 1198, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.slideshow-progress-bar-wrap {
  display: none;
  position: relative;
  width: 100%;
}

/* line 1203, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.slideshow-progress-bar {
  width: 100%;
  position: relative;
  border-top: 1px solid #ccc;
}

/* line 1208, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.slideshow-progress-bar:hover {
  cursor: pointer;
}

/* line 1211, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.pagerLink {
  float: left;
  position: relative;
  height: 30px;
  padding-top: 5px;
  font-family: 'Avenir Regular';
  font-size: 11px;
}

/* line 1219, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.pagerLink div:hover {
  cursor: pointer;
}

/* line 1222, /home/action/booklist/app/assets/stylesheets/application.css.scss */
div.highlight-bar {
  position: absolute;
  z-index: 10;
  background: #a7c5c5;
  height: 7px;
  top: -3px;
}

/* line 1229, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#home-slide-nav {
  position: absolute;
  bottom: 15px;
  right: 20px;
  z-index: 100;
}

/* line 1235, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#home-slide-nav a {
  margin-left: 10px;
  background: url(/images/sprites.png) no-repeat;
  display: inline-block;
  width: 12px;
  height: 12px;
  text-indent: -9999em;
}

/* line 1243, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#home-slide-nav a.active, #home-slide-nav a:hover {
  cursor: pointer;
  background-position: -12px 0;
}

/* line 1248, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#bottom-promo-wrapper {
  position: relative;
  height: 584px;
}

/* line 1252, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#promo-corporate {
  position: absolute;
  top: 0px;
}

/* line 1256, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#promo-message-bottle {
  position: absolute;
  top: 0px;
  right: 0;
}

/* line 1261, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#promo-special-cookie {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

/* line 1267, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#small-promo-area {
  display: none;
}

/* line 1270, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#small-promo-left, #small-promo-center {
  margin-right: 28px;
}

/* line 1273, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.promo-box {
  float: left;
  text-align: center;
}

/* line 1277, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.promo-box {
  font-family: 'Avenir Regular';
  font-weight: normal;
  margin-top: 20px;
  color: #909090;
  font-size: 15px;
}

/* line 1284, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.promo-box h2 {
  font-family: 'Avenir Demi';
  font-weight: normal;
  font-size: 15px;
  padding: 0px;
  margin: 15px 0 0px 0;
}

/* line 1292, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#basket-steps {
  width: 1002px;
  margin: 0px auto 0 auto;
  position: relative;
}

/* line 1297, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#basket-steps > img {
  margin-top: -50px;
}

/* line 1301, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#start-basket-button {
  background: url("/images/sprites.png") no-repeat;
  background-position: 0 -13px;
  width: 256px;
  height: 47px;
  position: absolute;
  right: 40px;
  bottom: 17px;
  text-indent: -9999em;
}

/* line 1311, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#start-basket-button:hover {
  cursor: pointer;
  background-position: 0 -60px;
}

/* line 1316, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#bottom-media-area {
  clear: both;
  padding-top: 40px;
}

/* line 1320, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#bottom-media-area ul {
  padding: 0;
  margin: 0;
  width: 100%;
}

/* line 1325, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#bottom-media-area li:first-child {
  margin-left: 0px;
}

/* line 1328, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#bottom-media-area li {
  font-family: 'Avenir Regular';
  font-size: 15px;
  float: left;
  list-style: none;
  border-right: 1px solid #cccccc;
  width: 24%;
  text-align: center;
}

/* line 1338, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#bottom-media-area li.last {
  margin-right: 0px;
  border: none;
}

/* footer */
/* line 1344, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#footer {
  clear: both;
  background: none;
  padding: 30px 0px;
}

/* line 1351, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#footer ul {
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: center;
}

/* line 1357, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#footer ul li {
  font-family: 'Avenir Regular';
  font-size: 12px;
  list-style: none;
  display: inline;
  text-align: center;
  padding: 0 10px;
  border-right: 1px solid #909090;
}

/* line 1366, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#footer ul li a {
  color: #909090;
}

/* line 1369, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#footer ul li.last {
  border: none;
}

/* line 1372, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#sign-up-newsletter-area {
  position: relative;
  font-family: 'Avenir Regular';
  font-size: 15px;
  text-align: center;
  width: 220px;
  margin-left: 20px;
}

/* line 1381, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#sign-up-message {
  font-size: 10px;
  text-transform: lowercase;
  position: absolute;
  top: 55px;
  left: 20px;
  color: #A7C5C5;
}

/* Category page */
/* line 1392, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.category_description {
  padding: 0;
}

/* line 1395, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.category_container {
  width: 990px;
  margin-top: 30px;
  overflow: hidden;
}

/* line 1400, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#alert_modal {
  background: #fff;
  padding: 30px 70px;
  width: 500px;
  height: auto;
  margin-top: -1000px;
  left: 50%;
  margin-left: -320px;
  font-family: 'Avenir Regular';
  font-size: 20px;
  text-transform: lowercase;
  text-align: center;
}

/* line 1415, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.product_box {
  width: 300px;
  padding: 0;
  border: none;
  float: left;
  margin: 0px;
  display: inline;
  text-align: center;
  margin-right: 29px;
  height: 280px;
}

/* line 1428, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.product_box .thumbnail {
  height: 170px;
}

/* line 1431, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.product_box .thumbnail {
  max-width: 300px;
  max-height: 170px;
  margin: auto;
  width: 300px;
}

/* line 1437, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.product_box .excerpt {
  font-family: 'Avenir Regular';
  font-size: 13px;
  font-weight: normal;
}

/* line 1442, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#new_product {
  color: #88c5c0;
}

/* line 1445, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.product_name {
  margin-top: 10px;
  font-size: 15px;
  font-family: 'Avenir Medium';
  font-weight: normal;
}

/* line 1451, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.product_name a {
  color: #909090;
  text-transform: lowercase;
}

/* line 1455, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.price_container {
  font-family: 'Avenir Regular';
  font-size: 13px;
  font-weight: normal;
}

/* line 1460, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.sort_product {
  float: right;
  margin-top: 25px;
  display: none;
}

/* Quick Cart */
/* line 1469, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#quick_cart {
  position: absolute;
  background: #ffffff;
  width: 300px;
  height: auto;
  top: 29px;
  right: 0px;
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 100;
}

/* line 1482, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#quick_cart_wrap {
  margin: 20px 20px;
}

/* line 1485, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#quick_cart_header {
  font-family: 'Avenir Ultra Light';
  font-size: 32px;
}

/* line 1489, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#quick_cart_product_list {
  min-height: 50px;
}

/* line 1492, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#quick_cart_close {
  position: absolute;
  top: 10px;
  right: 10px;
}

/* line 1497, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#quick_cart_checkout_btn {
  width: 180px;
}

/* line 1500, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#quick_cart_footer {
  float: right;
  margin: 5px 0 10px;
}

/* Product Page */
/* line 1507, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#product_left {
  /*width: 450px; 247px;*/
  float: left;
  width: 590px;
  margin-top: 20px;
}

/* line 1514, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#product_right {
  /*width: 520px; 690px;*/
  float: right;
  overflow: hidden;
  width: 370px;
  margin-top: 20px;
}

/* line 1521, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#product_area_wrapper {
  padding-bottom: 50px;
  width: 100%;
  background-color: #aff1ed;
  height: 640px;
}

/* line 1527, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#product_image {
  height: 400px;
  margin-top: 0px;
  cursor: pointer;
}

/* line 1533, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#product_image_thumbnails {
  margin-top: 5px;
}

/* line 1536, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#product_detail {
  margin-left: 28px;
  font-family: 'Avenir Regular';
}

/* line 1541, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#add_sample_form {
  margin-left: 28px;
  margin-top: 20px;
}

/* line 1545, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#product_thumbs, #fullsize_thumbs {
  margin: 15px 0 0 0;
  padding: 0;
  width: 110%;
}

/* line 1550, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#product_thumbs li, #fullsize_thumbs li {
  list-style: none;
  float: left;
  margin-right: 22px;
  margin-bottom: 15px;
}

/* line 1556, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#fullsize_image_wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: none;
}

/* line 1566, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#fullsize_image {
  position: absolute;
  background: #fff;
  top: 0px;
  left: 0px;
  z-index: 110;
  height: 645px;
  width: 100%;
  box-shadow: 0px 0px 5px 5px #666;
}

/* line 1577, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#fullsize_image_dim {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.4;
  -moz-opacity: 0.4;
  -webkit-opacity: 0.4;
  z-index: 105;
}

/* line 1590, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#fullsize_close_wrap {
  position: absolute;
  right: 0px;
  bottom: -55px;
  z-index: 1001;
}

/* line 1596, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#fullsize_close_btn {
  font-family: 'Avenir Regular';
  font-size: 13px;
  cursor: pointer;
}

/* line 1601, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#fullsize_close_btn:hover {
  color: #A7C5C5;
}

/* line 1604, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#product_detail h1, #product_detail p#prod_price {
  margin: 0;
  font-size: 32px;
  font-family: 'Avenir Ultra Light';
  color: #909090;
  text-transform: lowercase;
}

/* line 1611, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#product_detail #prod_description {
  margin: 10px 0 30px 0;
  font-size: 13px;
}

/* line 1615, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#prod_description strong, #prod_description h2 {
  font-family: 'Avenir Medium';
  font-weight: normal;
  font-size: 15px;
  padding: 0;
  margin: 0;
}

/* line 1622, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#prod_description.set_options > div, #prod_details.set_options > div {
  display: none;
}

/* line 1625, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#product_description {
  border-top: 1px solid #ccc;
  width: 100%;
  float: left;
  clear: both;
  margin: 30px 0 50px 0;
}

/* line 1632, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#product_description h3 {
  font-family: 'Avenir Ultra Light';
  font-size: 32px;
}

/* line 1636, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.details_box {
  float: left;
  width: 315px;
  height: 375px;
}

/* line 1641, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.details_box h4 {
  font-family: 'Avenir Medium';
  font-weight: normal;
  font-size: 15px;
  padding: 0;
  margin: 10px 0 0;
  text-transform: lowercase;
}

/* line 1649, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.details_box p {
  font-family: 'Avenir Regular';
  font-weight: normal;
  width: 87%;
  text-transform: lowercase;
}

/* line 1655, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#product_social_icons span, #product_fullsize_image {
  font-family: 'Avenir Regular';
  font-size: 13px;
}

/* line 1659, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#product_fullsize_image:hover {
  color: #a7c5c5;
  cursor: pointer;
}

/* line 1663, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.share_icons {
  background: url(/assets/fruute-sprites.png) no-repeat;
  display: inline-block;
  text-indent: -99999em;
}

/* line 1668, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#share_facebook {
  background-position: -170px -2px;
  width: 18px;
  height: 18px;
}

/* line 1673, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#share_twitter {
  background-position: -201px -2px;
  width: 21px;
  height: 18px;
}

/* line 1678, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#share_pinterest {
  background-position: -238px -2px;
  width: 20px;
  height: 19px;
}

/* line 1683, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#share_instagram {
  background-position: -309px -2px;
  width: 20px;
  height: 19px;
}

/* line 1688, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#share_mail {
  background-position: -270px -2px;
  width: 20px;
  height: 16px;
}

/* checkout */
/* line 1695, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#edit_address.modal {
  margin-top: -2170px;
  margin-left: -330px;
  width: 600px;
  height: auto;
  background: white;
  padding: 30px;
}

/* line 1705, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#edit_address .fruute-input {
  width: 250px;
}

/* line 1708, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#saved_addresses_modal {
  margin-top: -2170px;
  margin-left: -270px;
  width: 540px;
  height: auto;
  background: white;
}

/* line 1717, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#saved_addresses_wrapper {
  margin: 20px;
  height: auto;
  max-height: 500px;
  overflow-y: auto;
}

/* line 1723, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#saved_addresses_wrapper h2 {
  font-family: 'Avenir Ultra Light';
  text-transform: lowercase;
  margin: 10px 0 20px 20px;
  color: #a7c5c5;
  font-size: 30px;
}

/* line 1730, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#saved_addresses_wrapper .saved_address {
  margin: 0px 20px 0 20px;
  float: left;
  width: 200px;
  height: 160px;
}

/* line 1736, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#saved_addresses_wrapper .saved_address h3 {
  font-family: 'Avenir Medium';
  font-weight: normal;
  margin: 5px 0;
}

/* line 1741, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.saved_address_buttons {
  float: right;
  text-align: right;
}

/* line 1745, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.saved_address_buttons div {
  cursor: pointer;
  color: #a7c5c5;
  font-size: 12px;
}

/* line 1750, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.saved_address_buttons div:hover {
  color: #909090;
}

/* line 1753, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.shipping-method {
  margin: 10px 0;
  font-size: 14px;
  color: #4e6470;
  font-family: 'Avenir Medium';
}

/* line 1759, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.fruute_cart_item img {
  vertical-align: top;
}

/* line 1762, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.checkout_error {
  font-family: 'Avenir Medium';
  color: #F04D4D;
  margin: 10px 0;
}

/* line 1767, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#promo_code_area, #gift_card_area {
  display: block;
  clear: both;
}

/* line 1771, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.checkout_header {
  background-color: #edebe7;
  color: #909090;
  font-family: 'Avenir Ultra Light';
  font-size: 32px;
  padding: 5px 40px 3px;
  margin: 0 0 10px 0;
}

/* line 1779, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#summary_section_wrap {
  position: absolute;
}

/* line 1782, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#summary_section_wrap.fixed {
  position: fixed;
  top: 0px;
}

/* line 1786, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#summary_section_wrap {
  padding: 20px 25px;
  width: 160px;
  box-shadow: 0px 0px 3px 1px #ccc;
}

/* line 1792, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#summary_section_wrap h3 {
  font-family: 'Avenir Regular';
  font-size: 15px;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

/* line 1799, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#summary_section tr {
  font-family: 'Avenir Regular';
  height: 25px;
  text-transform: lowercase;
  font-size: 13px;
}

/* line 1805, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.fruute_cart_table {
  padding: 0;
  border-collapse: collapse;
  margin-left: 40px;
}

/* line 1811, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.fruute_cart_table th {
  font-family: 'Avenir Medium';
  font-weight: normal;
  text-transform: lowercase;
  font-size: 15px;
}

/* line 1817, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.fruute_cart_table tr a {
  font-family: 'Avenir Medium';
  color: #909090;
}

/* line 1821, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.fruute_cart_table tr {
  font-family: 'Avenir Regular';
  font-size: 13px;
  text-transform: lowercase;
  height: 30px;
}

/* line 1827, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.fruute_cart_table tr a.cart_remove_product {
  color: #A7C5C5;
}

/* line 1830, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.fruute_cart_table tr a.cart_remove_product:hover {
  color: #F04D4D;
}

/* line 1833, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#shipping_payment_container, #customer_info_fields h3 {
  font-family: 'Avenir Medium';
  text-transform: lowercase;
}

/* line 1837, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#shipping_address, #billing_address {
  margin-top: 20px;
}

/* line 1840, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.form_wrap {
  text-transform: uppercase;
  font-family: 'Avenir Medium';
  font-size: 10px;
}

/* line 1845, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#shipping_address div, #billing_address div {
  margin-bottom: 10px;
}

/* line 1848, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#shipping_address input[type=text], #shipping_address select, #billing_address input[type=text], #billing_address select {
  border: 1px solid #ccc;
  line-height: 30px;
  font-size: 15px;
  color: #909090;
  font-family: 'Avenir Regular';
  padding: 0 5px;
  margin-bottom: 10px;
  width: 250px;
}

/* line 1859, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.gc_payment_form {
  text-transform: uppercase;
}

/* line 1862, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#copy_billing_address {
  font-family: 'Avenir Regular';
  font-size: 15px;
  text-transform: lowercase;
  margin-bottom: 20px;
}

/* line 1868, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#ship_address1, #bill_address1 {
  margin-bottom: 20px !important;
}

/* line 1871, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#shipping_details_wrap, .billing_details_innerwrap {
  margin: 30px 40px;
}

/* line 1874, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.checkout_form_input {
  margin-bottom: 20px;
  font-family: 'Avenir Regular';
  text-transform: uppercase;
  font-size: 10px;
}

/* line 1880, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.checkout_details .fruute-input {
  width: 250px;
}

/* line 1883, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.shipping-method {
  font-size: 14px;
  color: #909090;
  font-family: 'Avenir Regular';
  text-transform: lowercase;
}

/* line 1889, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#delivery_date_selector {
  margin-bottom: 30px;
}

/* line 1892, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#shipping_method_selector h3, #delivery_date_selector h3 {
  font-family: 'Avenir Medium';
  font-size: 15px;
  font-weight: normal;
}

/* line 1897, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.billing_details_innerwrap h3 {
  font-family: "Avenir Regular";
}

/* line 1900, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#cc-month, #cc-year, #cc-name {
  border: 1px solid #ccc;
  line-height: 30px;
  font-size: 17px;
  color: #909090;
  font-family: 'Avenir Regular';
  padding: 0 5px;
}

/* line 1909, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.continue-button {
  margin: 30px 0;
}

/* line 1912, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#review_shipping h3, #review_billing h3 {
  font-family: 'Avenir Medium';
  margin: 5px 0;
  padding: 0;
  font-size: 15px;
}

/* line 1918, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#review_shipping, #review_billing {
  font-family: 'Avenir Regular';
  font-size: 15px;
  margin: 20px 0;
}

/* line 1923, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#review_order_innerwrap .cart_total {
  border-top: 1px solid #ccc;
  font-family: 'Avenir Medium';
}

/* line 1927, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#review_order_innerwrap .cart_total td {
  padding-top: 20px;
}

/* line 1930, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#cvc-info-modal {
  background: white;
  width: 400px;
  height: 230px;
  margin-top: -100px;
  margin-left: -200px;
}

/* line 1938, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#cvc-info-wrap {
  margin: 30px 20px;
}

/* line 1941, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#cvc-info-wrap h1 {
  font-family: 'Avenir Ultra Light';
  font-size: 20px;
  margin: 0;
  padding: 0;
}

/* line 1948, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#cvc-info-wrap p {
  font-family: 'Avenir Regular';
  font-size: 12px;
}

/* basket checkout */
/* line 1953, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#customize-message h2 {
  font-size: 15px;
  font-family: 'Avenir Medium';
  color: #909090;
}

/* line 1958, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#bottled-message {
  background: url("/images/fruute-sprites.png") 0px -75px no-repeat;
  width: 132px;
  height: 26px;
  float: left;
}

/* line 1965, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#basket-message {
  font-family: 'Avenir Ultra Light';
  font-size: 32px;
  line-height: 40px;
  padding: 10px;
  height: 415px;
  width: 550px;
  overflow-y: auto;
  border: 1px solid #ccc;
}

/* line 1978, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.form-error {
  color: red;
  font-size: 10px;
  margin: 10px 0;
  font-family: 'Avenir Regular';
  display: none;
  text-transform: uppercase;
}

/* line 1987, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#gift-message-detail {
  margin-left: 40px;
}

/* line 1990, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#gift_message_text {
  font-family: 'Avenir Regular';
  font-size: 20px;
  line-height: 30px;
}

/* line 1995, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#gift_message_review_wrap {
  clear: both;
  margin: 35px 0 35px 40px;
  border-top: 1px solid #ccc;
  padding-top: 25px;
}

/* line 2001, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#review_details_wrap {
  clear: both;
  height: 160px;
  margin-left: 40px;
}

/* line 2006, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#gift_message_review h3 {
  font-family: 'Avenir Medium';
  font-size: 15px;
}

/* line 2010, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#gift_message_review {
  font-family: 'Avenir Regular';
  font-size: 15px;
}

/* line 2014, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#submit_button_container {
  margin-left: 40px;
}

/* my account */
/* line 2020, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#my_account_info {
  /*margin: 30px;*/
  text-transform: lowercase;
}

/* line 2024, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#my_account_container h1, #order_history h1 {
  font-family: 'Avenir Ultra Light';
  text-transform: lowercase;
  font-size: 32px;
  margin: 0px;
  padding: 0px;
}

/* line 2031, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#my_account_info h2 {
  font-family: 'Avenir Regular';
}

/* line 2034, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#my_account_container {
  width: 100%;
  padding-bottom: 30px;
  height: 350px;
}

/* line 2039, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#fruute_facebook_information {
  font-family: 'Avenir Book';
  font-size: 14px;
}

/* line 2043, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#contact_info_wrap, #change_password_wrap {
  margin: 0px 40px;
  padding: 0;
  border: 1px solid white;
}

/* line 2048, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#contact_info_header {
  cursor: pointer;
}

/* line 2051, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.share-fruute-facebook {
  background: url("/images/fruute-sprites-old.png") -543px -745px no-repeat;
  width: 300px;
  height: 55px;
  margin-top: 20px;
  cursor: pointer;
}

/* line 2058, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.share-fruute-facebook:hover {
  background: url("/images/fruute-sprites-old.png") -543px -684px no-repeat;
}

/* line 2061, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.share-fruute-facebook a {
  height: 100%;
  width: 100%;
  display: inline-block;
}

/* line 2066, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#fruute_account_information {
  width: 400px;
  float: left;
  height: 200px;
}

/* line 2071, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#my_account_info .form_wrap {
  height: 70px;
}

/* line 2074, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#fruute_password_information {
  width: 400px;
  float: right;
}

/* line 2078, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#order_history_wrap, #addresses_wrapper {
  margin: 20px 40px;
}

/* line 2081, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#order_history_wrap thead tr th {
  font-family: 'Avenir Medium';
  font-weight: normal;
  font-size: 15px;
  text-align: left;
  color: #909090;
}

/* line 2088, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#order_history_wrap tbody tr.cart_item td {
  font-family: 'Avenir Regular';
  font-weight: normal;
  font-size: 13px;
  height: 25px;
}

/* line 2094, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#order_history_pagination {
  margin-top: 30px;
  font-family: 'Avenir Medium';
}

/* line 2098, /home/action/booklist/app/assets/stylesheets/application.css.scss */
input#firstname, input#lastname {
  width: 170px;
}

/* line 2101, /home/action/booklist/app/assets/stylesheets/application.css.scss */
input#email, input#phone, input#password, input#confirm {
  width: 380px;
}

/* line 2104, /home/action/booklist/app/assets/stylesheets/application.css.scss */
input#save_info {
  background: url("/images/fruute-sprites-old.png") 0 -696px no-repeat;
  margin-left: -4px;
  display: block;
  border: none;
  text-indent: -99999em;
  width: 129px;
  height: 50px;
}

/* line 2113, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.error-msg {
  color: #F04D4D;
  font-family: 'Avenir Heavy';
  letter-spacing: 1px;
  clear: both;
}

/* line 2119, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.delete_address {
  cursor: pointer;
}

/* line 2123, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#my_information {
  background-color: #f2f2f2;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  padding: 10px;
  float: left;
}

/* line 2131, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#my_account_info h2 {
  font-weight: normal;
  margin-bottom: 10px;
  font-size: 19px;
}

/* line 2137, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#customer_details {
  float: left;
  margin: 5px;
  width: 360px;
}

/* line 2144, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#confirmation_box {
  margin-bottom: 10px;
  border-color: white;
  border-width: 1px;
  border-style: solid;
  background-color: #34a1ff;
  color: black;
  padding: 5px;
}

/* line 2155, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.my_account_header {
  background-color: #000000;
  color: #FFFFFF;
  font-weight: bold;
  padding: 5px;
}

/* line 2162, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#address_container {
  float: right;
  width: 300px;
  margin: 5px;
}

/* line 2168, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.my_address {
  height: 120px;
  margin: 15px;
  padding: 5px;
  border: 1px solid #c0c0c0;
}

/* line 2174, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#order_history .cart_table thead th {
  font-family: 'Avenir Medium';
  text-transform: lowercase;
}

/* line 2178, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#order_history .cart_table tbody td {
  height: 15px;
  color: #909090;
  font-family: 'Avenir Regular';
}

/* line 2183, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#addresses_wrapper .saved_address {
  float: left;
  width: 250px;
  height: 150px;
}

/* line 2188, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#addresses_wrapper .saved_address h3 {
  font-family: 'Avenir Medium';
  font-weight: normal;
  margin: 5px 0;
}

/* Full size image slide*/
/* line 2194, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#fullsize_image_slideshow {
  display: none;
}

/* line 2197, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#fullsize_thumbs {
  position: absolute;
  z-index: 1000;
  height: 10px;
  top: 540px;
}

/* line 2203, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#fullsize_close_wrap {
  position: absolute;
  top: 550px;
}

/* Thank you page */
/* line 2209, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#thank-you-main {
  width: 962px;
  height: 487px;
  background: url("/images/fruute-thankyou-page.jpg") no-repeat top left;
  padding-top: 30px;
}

/* line 2217, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#thank-you-main h1 {
  font-family: 'Avenir Ultra Light';
  font-size: 32px;
  letter-spacing: 1px;
  color: #A7C5C5;
  margin: 0 0 0 0;
  padding: 0;
  text-transform: lowercase;
}

/* line 2226, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#thank-you-main h2 {
  font-family: 'Avenir Ultra Light';
  font-size: 32px;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
  text-transform: lowercase;
}

/* line 2234, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#thank-you-main p {
  font-family: 'Avenir Ultra Light';
  font-size: 24px;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
  text-transform: lowercase;
}

/* unsubscribe */
/* line 2243, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#unsubscribe-area {
  height: 500px;
}

/* line 2246, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#unsubscribe-container {
  margin-left: 300px;
  margin-top: 50px;
  font-family: 'Avenir Medium';
  text-transform: lowercase;
  font-size: 15px;
}

/* line 2254, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#unsubscribe-container h1 {
  font-family: 'Avenir Ultra Light';
  font-weight: normal;
  font-size: 32px;
  letter-spacing: 1px;
  color: #909090;
  margin: 0 0 0 0;
  padding: 0;
  text-transform: lowercase;
}

/* gift card */
/* line 2266, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#giftcard_view_sample {
  color: #A7C5C5;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

/* line 2272, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#giftcard_view_sample:hover {
  color: #909090;
}

/* line 2276, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#giftcard-form input.fruute-input {
  width: 250px;
}

/* line 2279, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#giftcard-form {
  margin-left: 40px;
}

/* line 2282, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#giftcard-message {
  font-family: 'Avenir Ultra Light';
  font-size: 32px;
  line-height: 40px;
  padding: 10px;
  height: 415px;
  width: 550px;
  overflow-y: auto;
  border: 1px solid #ccc;
}

/* tarts */
/* line 2296, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#product_tarts_wrap {
  height: 600px;
}

/* line 2299, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#product_tarts_wrap #product_detail {
  height: 335px;
  position: relative;
  width: 302px;
}

/* line 2304, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#tarts_la_message {
  position: absolute;
  bottom: 0px;
}

/* line 2308, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#tarts_la_message strong {
  font-family: 'Avenir Demi';
  font-weight: normal !important;
  font-size: 13px;
}

/* 20% promo modal */
/* line 2315, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#new-visitor-coupon-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -360px;
  margin-top: -2000px;
  width: 630px;
  height: 620px;
  background-color: #f4eed3;
  padding: 40px 60px;
}

/* line 2326, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#coupon_popup_text {
  margin-top: 20px;
  font-size: 41px;
  font-family: 'Avenir Ultra Light';
  color: #555555;
}

/* line 2334, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#coupon_popup_text p.small {
  font-size: 14px;
  text-align: justify;
  font-family: 'Avenir Regular';
}

/* line 2340, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#coupon_popup_text input[type='text'] {
  border: 1px solid #bbbbbb;
  border-radius: 5px 0 0 5px;
  width: 300px;
  font-family: 'Avenir Ultra Light';
  height: 45px;
  text-indent: 10px;
  color: #909090;
}

/* line 2349, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#coupon_popup_text input[type='submit'] {
  border-radius: 0 5px 5px 0;
  background: #b3d1d3;
  font-family: 'Avenir Ultra Light';
  color: #fff;
  border: none;
  height: 50px;
  padding: 0 15px;
}

/* line 2358, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#coupon_popup_text input[type='submit']:hover {
  background: #909090;
}

/* line 2361, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#sign-up-message-coupon {
  font-size: 12px;
  margin-top: 10px;
  color: #ff0000;
  font-family: 'Avenir Regular';
}

/**JQUERY DATE PICKER**/
/* line 2369, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#ui-datepicker-div {
  width: 200px;
  background: white;
  box-shadow: 0px 0px 3px 1px #ccc;
  -webkit-box-shadow: 0px 0px 3px 1px #ccc;
  padding: 10px;
  border-radius: 5px;
  color: #909090;
  font-size: 1.6em;
  display: none;
  font-family: 'Avenir Book';
  margin-left: 0px !important;
  margin-top: 0px !important;
}

/* line 2384, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.ui-datepicker-calendar th {
  font-weight: normal;
}

/* line 2387, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.ui-datepicker-header {
  height: 37px;
  color: #909090;
  font-size: 15px;
  text-transform: uppercase;
}

/* line 2394, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.ui-datepicker-title {
  text-align: center;
}

/* line 2398, /home/action/booklist/app/assets/stylesheets/application.css.scss */
a.ui-state-default {
  color: #909090 !important;
  text-decoration: none !important;
}

/* line 2402, /home/action/booklist/app/assets/stylesheets/application.css.scss */
a.ui-state-default.ui-state-active {
  color: #a7c5c5 !important;
}

/* line 2405, /home/action/booklist/app/assets/stylesheets/application.css.scss */
a.ui-state-hover:hover, a.ui-state-default:hover {
  color: #a7c5c5 !important;
}

/* line 2408, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.ui-datepicker-calendar thead {
  font-size: 16px;
}

/* line 2411, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.ui-datepicker-calendar tbody tr td {
  width: 30px;
  text-align: center;
  padding: 2px;
}

/* line 2416, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.ui-datepicker-calendar tbody {
  font-size: 15px;
}

/* line 2419, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.ui-datepicker-prev {
  float: left;
}

/* line 2422, /home/action/booklist/app/assets/stylesheets/application.css.scss */
a.ui-datepicker-prev, a.ui-datepicker-next {
  color: #909090;
}

/* line 2425, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.ui-datepicker-next {
  float: right;
}

/* line 2428, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.ui-state-disabled {
  color: #DDDDDD;
}

/* line 2431, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.ui-icon {
  position: absolute;
  width: 0;
  height: 0;
  text-indent: -9999em;
  cursor: pointer;
  top: 13px;
}

/* line 2439, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.ui-icon-circle-triangle-w {
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #909090;
  left: 15px;
}

/* line 2445, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.ui-icon-circle-triangle-w:hover {
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #A7C5C5;
}

/* line 2450, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.ui-icon-circle-triangle-e {
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #909090;
  right: 15px;
}

/* line 2456, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.ui-icon-circle-triangle-e:hover {
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #A7C5C5;
}

/* survey */
/* line 2463, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#survey_left_column {
  width: 230px;
}

/* line 2466, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#survey_left_column h3 {
  font-family: 'Avenir Regular';
  font-size: 15px;
  font-weight: normal;
}

/* line 2471, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#survey_left_column p {
  font-family: 'Avenir Regular';
  font-size: 13px;
}

/* line 2475, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#survey_right_column {
  font-family: 'Avenir Regular';
}

/* line 2478, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#survey_right_column strong {
  font-family: 'Avenir Heavy';
}

/* line 2481, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.survey_question {
  margin-top: 15px;
  margin-left: 40px;
  line-height: 22px;
  font-size: 13px;
}

/* line 2487, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.survey_question input[type=radio] {
  margin: 0 5px 0 15px;
}

/* referral */
/* line 2492, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#referral_header {
  background: #f4eed3;
}

/* line 2495, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#referral_body {
  font-family: 'Avenir Ultra Light';
  font-size: 29px;
  margin: 10px 0 20px 0;
}

/* line 2500, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#referral_body .red {
  color: #eb4b5e;
}

/* line 2503, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#referral_count {
  font-size: 174px;
  line-height: 100pt;
  color: #eb4b5e;
  padding-top: 20px;
}

/* line 2509, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#referral_body .left input {
  background: #faf9f7;
  width: 250px;
  padding: 5px 20px;
  font-size: 14px;
  border-radius: 2px;
}

/* line 2516, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#referral_body .right {
  font-size: 16px;
  text-align: right;
}

/*home referral*/
/* line 2522, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#referral-promo {
  position: relative;
}

/* line 2525, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#referral-promo .buttons {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

/* line 2530, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#referral-promo .buttons a, #coupon_popup_text .buttons a {
  display: inline-block;
  background: #000;
  color: #fff;
  border-radius: 8px;
  font-family: 'Avenir Ultra Light';
  font-size: 25px;
  width: 200px;
  height: 45px;
  line-height: 45px;
  text-align: center;
}

/* line 2543, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#referral-promo .buttons a:hover, #coupon_popup_text .buttons a:hover {
  background: #a8c5c5;
}

/* line 2546, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#referral-fb-btn {
  background: url("/images/sprites.png") no-repeat;
  background-position: 0 -107px;
  width: 201px;
  height: 46px;
  display: block;
  text-indent: -9999em;
}

/* line 2554, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#referral-fb-btn:hover {
  background-position: 0 -153px;
}

/* line 2557, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#referral-tw-btn {
  background: url("/images/sprites.png") no-repeat;
  background-position: -202px -107px;
  width: 201px;
  height: 46px;
  display: block;
  text-indent: -9999em;
}

/* line 2565, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#referral-tw-btn:hover {
  background-position: -202px -153px;
}

/* line 2569, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#referral_wrapper {
  float: left;
  width: 330px;
  font-family: 'Avenir Regular';
  font-size: 13px;
  margin: 80px 0 0 85px;
}

/* line 2576, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#referral_img {
  border-left: 1px solid #cccccc;
  float: right;
  padding-left: 39px;
  margin-top: 50px;
  margin-bottom: 100px;
}

/* line 2583, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#referral_wrapper h1 {
  font-family: 'Avenir Ultra Light';
  text-transform: lowercase;
  font-size: 30px;
  line-height: 40px;
  margin: 0;
  padding: 0;
}

/* line 2591, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#referral_wrapper .form_wrap .new-button {
  background: #f4eed3 !important;
  color: #555555 !important;
}

/* line 2595, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#referral_wrapper .form_wrap .new-button:hover {
  background: black !important;
  color: white !important;
}

/* line 2600, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#login-error div {
  color: #ff0000;
  font-family: 'Avenir Regular';
  font-size: 15px;
  padding: 10px 0;
}

/* samples page */
/* line 2608, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#samples_wrapper h1 {
  font-family: 'Avenir Ultra Light';
  font-size: 72px;
  text-align: center;
  font-weight: normal;
  color: #88c5c0;
}

/* line 2615, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.sample_select {
  float: left;
  width: 20px;
}

/* line 2619, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.sample_product_name {
  float: left;
  text-align: left;
  width: 200px;
  font-family: 'Avenir Demi';
  font-size: 14px;
}

/* line 2627, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.sample_product_box {
  width: 230px;
  height: 240px;
  padding: 0;
  border: none;
  float: left;
  margin: 0px;
  display: inline-block;
  margin-right: 15px;
}

/* line 2639, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.sample_product_box .thumbnail {
  height: 135px;
}

/* line 2644, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.sample_product_box .thumbnail img {
  height: 125px;
}

/* line 2648, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.sample_product_box .thumbnail {
  max-width: 300px;
  max-height: 170px;
  margin: auto;
  width: 300px;
}

/* line 2654, /home/action/booklist/app/assets/stylesheets/application.css.scss */
.sample_product_box .excerpt {
  font-family: 'Avenir Regular';
  font-size: 12px;
  font-weight: normal;
  font-size: 14px;
}

/* line 2661, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#free-samples-header {
  background: url("/images/free-samples-icon.png");
  position: absolute;
  top: -5px;
  right: 0px;
  width: 187px;
  height: 69px;
  cursor: pointer;
}

/* line 2671, /home/action/booklist/app/assets/stylesheets/application.css.scss */
#free-samples-count {
  background: url("/images/free-samples-count-bg.png");
  width: 33px;
  height: 32px;
  text-align: center;
  line-height: 34px;
  position: absolute;
  top: -5px;
  left: -10px;
  color: #fff;
  font-size: 15px;
  font-family: 'Avenir Ultra Light';
}
