<style>
  body { background: #f5f8fa; }
</style>

<div id="page" class="main_wrapper clearfix">
    
	<div id="faq">
    
<% @conversations.each do |conversation| %>
 
    <h1><%= link_to conversation.subject, conversation %></h1>
    <%= conversation.updated_at.strftime("%a, %m/%e/%Y %I:%M %p") %>
   
    <%= link_to '<i id="awesomered" class="fa fa-times fa-2x"></i>'.html_safe, {:controller => "conversations", :action => "trash", :id => conversation.id}, :title=> "Move to Trash", :method=>'post' %> 
   
    
<% end %> 
    
    <% if @conversations.blank? %>
    <h1>no messages</h1>
     <% end %>
    <br /><br /><br /><br /><br /><br /><br />
    <h1><%= link_to '<i class="fa fa-trash-o"></i> trash'.html_safe, trashbin_conversations_path %> </h1>
  </div>
  </div>
 