<style>
  body { background: #f5f8fa; }
  
  li {list-style-type:none;}
  
</style>

<div id="page" class="main_wrapper clearfix">
    
	<div id="faq">
    
    <h2><%= conversation.subject %></h2>
 
   
<% conversation.participants.each do |participant| %>
    
 <% if participant != current_user %>
     <h2 style="font-size: 1.5em"> 
  <%= participant.username %></h2>
 <% end %>
<% end %>
    <%= content_tag_for(:li, conversation.receipts_for(current_user)) do |receipt| %>
    <div class="column-center" style="padding: 5px; margin-top: -10px; margin-bottom: 15px;">
 <% message = receipt.message %>
 <%= message.sender.username %>
    <p><%= simple_format h message.body %></p>
 
    <i>Sent <%= conversation.updated_at.strftime("%a, %m/%e/%Y %I:%M %p") %></i>
   
<% end %>
    </div>    
<%= render 'messages/form', conversation: conversation %>
    
  </div> 