<% @trash.each do |conversation| %>
 


<%= link_to conversation.subject, conversation %>
<%= conversation.updated_at.strftime("%a, %m/%e/%Y %I:%M %p") %>
<%= link_to "Move to Inbox", {:controller => "conversations", :action => "untrash", :id => conversation.id}, :title=> "Move to Inbox", :method=>'post' %>
<% end %>