<div id="page" class="main_wrapper clearfix">
<div id="faq">
 
<% @trash.each do |conversation| %>
 
  <h1><%= link_to conversation.subject, conversation %></h1>
<%= conversation.updated_at.strftime("%a, %m/%e/%Y %I:%M %p") %>

 <%= link_to '<i class="fa fa-inbox"></i> move to inbox'.html_safe, {:controller => "conversations", :action => "untrash", :id => conversation.id}, :title=> "Move to Inbox", :method=>'post' %>
  <hr>
<% end %>
</div>  
</div>  