<style>
  #formsite
  {
    margin-left: 41%;
  }
</style>
<div id="main_wrap" class="main_wrapper">
  <div id="slide-stage">
				<div id="login-panel">
         
  <div id="formsite">
<h2>Resend unlock instructions</h2>

<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true , :id => 'user-email', :class => "fruute-input sign-in", :size => 25  %></div>

  <div><%= f.submit "Resend unlock instructions" %></div>
<% end %>

<%= render "devise/shared/links" %>
  </div>