<style>
  #bigbuttoncomments {
    float: right;  
  border: 1px solid  #e1e8ed; 
  border-radius: 5px ;
  margin-left: -300px;
  width: 400px;
   margin-right: -5px;
 
  background: #fff;
    
    
  }
  
   



.verticalLineLeft {
    border-left: 5px solid #8fa2ae;
    padding: 3px;
    
}
 .verticalLineRight {
    border-right: thick solid #e1e8ed;
    margin-left: auto;
} 
  
  #bigbuttoncomments:hover {background: rgba(51,153,255, 0.1); color: white; }
  
   #userInfobackground {
    position: fixed;
    
    right: 0px;
    width: 50%;
    height: 56px;
    background-color: #fff; 
}
  
</style>

<div id="main_wrapper" class = "container">
  <div id="main" style=" margin-left: 367px; margin-bottom: -50px;">
    <h1 ><%= @user.firstname %> <%= @user.lastname %></h1>
  <p ><%= @user.username %></p>
  <p><i class="fa fa-map-marker fa-lg"><%= @user.school %></i></p>
    <div style="width: 300px; color: #fff; background: #3399FF; padding-left: 5px;">
    <h3><%= word_wrap(@user.bio, :line_width => 6) %></h3>
  </div>
  </div>



<div style="float: right; right: 0px; width: 66%;   background-color: #fff; 
            margin-top: 50px; ">
  <div class="user-info-menu" style="
                                       
                                     
                                     background-color: #fff;
                                       margin-left: auto;
                                      
                                       ">
      
    <ul id="navlist">
        <li class= "verticalLineLeft" style=" text-align: center;">POSTS<br /><a><%= @user.posts.count :conditions => {:user_id => @user.id} %></a></li>
        <li class= "verticalLineLeft" style=" text-align: center;">STREAMS<br /><a>290</a></li>
        <li class= "verticalLineLeft" style=" text-align: center;">STREAMERS<br /><a>3294</a></li>
        <li class="verticalLineLeft" style=" text-align: center;">RATING<br /><a>*****</a></li>
      </ul>
   
    </div>
    </div>  
 

  
  <div id="main" style="margin-top: -200px; margin-left: 0px; position: relative;">
  <%= image_tag @user.avatar.url(:medium), :style => "border-radius: 10px; border: 3px solid #8fa2ae; " %>
    

  <h2>send <%= @user.username %> a message</h2>
 <%= form_tag({controller: "messages", action: "create"}, method: :post) do %>
     
      
         <%= label_tag :subject %><br />                         
         <%= text_field_tag :subject, nil, :class => 'fruute-input', :style => "width: 300px;"  %>
    
  
    <br />
      <%= label :body, "Message" %><br />
      <%= text_area_tag :body, nil, :class => 'fruute-input', :style => "width: 300px; height: 100px;" %>
  
  <%= hidden_field_tag(:user, "#{@user.username}") %>
    <br />
    <br />
<!--<%= submit_tag 'send', :class => "new-button" %> -->
    
  <%= button_tag(type: 'submit', class: "new-button", style: "width: 224px; height: 50px;") do %>
 <i class="fa fa-location-arrow"></i>
     <% end %>     

  <% end %>
  
 
  
  


  <div class="column-center" style="padding: 5px; margin-left: 367px; width: 500px; margin-top: -300px;" >
          <h1>posts</h1>
   
     <% mypost.each do |mypost| %> 
    <% if @user.username == mypost.email %>
        <%= link_to mypost do %>
          <div id="streamline">
    <!-- <div id="rectmine"> -->
    <h1 style="font-size: 160%; color: black;"><%= mypost.title %></h1>
    <i class="fa fa-map-marker fa-lg" style="margin-right: 5px; margin-left: 5px;"></i>  <%= mypost.school %>  <div style="float: right; text-align: left; margin-right: 20px;"> <i class="fa fa-usd fa-lg"></i><%= mypost.price %></div> 
         
            <% if current_user.username == mypost.email %><br />
     <%= link_to  '<i id="awesomered" style="margin-left: 0px;" class="fa fa-times fa-2x"></i>'.html_safe, mypost, method: :delete, data: { confirm: 'Are you sure?' } %>
            
            <strong>delete</strong>
            
      <% end %>
            <br />

  </div>
            <% end %>
            <% end %>
            <% end %>
    
    
  </div>
  

  


 
 
</div>
