<style>
  #formsite
  {
    margin-left: 40%;
  }
</style>


 <div id="login-area">
	<div class="main_wrapper">
		<div id="login-main">
			<center>
				<div id="login-error">
									</div>
			</center>
			<div id="slide-stage">
				<div id="login-panel">
          <br /><br /><br /><br />
  <div id="formsite">

<h2>Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true,  :id => 'user-email', :class => "fruute-input sign-in", :size => 25  %></div>
    <br />
  <div><%= f.submit "Reset Password",  :id => "submit-login", :class => "new-button", :style => "width: 224px" %></div>
<% end %>

<%= render "devise/shared/links" %>
  </div>
