<style>
h2 span { 
    background-color: #3399FF; 
    color: white;
} 
</style>


<div id="page" class="main_wrapper clearfix">
	<div id="faq">
		<h1>about</h1>			
	

 <h2><span>
   this site was created to make it easier for students to sell or buy textbooks/college gear. there are sites out there
   that allow you to list items online but aren't location specific. it is more convenient to look for something
   near campus instead of finding something in los angeles and then having to figure out a location to make the
   deal happen. if an item is listed and the location/school is SMC and you are a student there then it is convenient
   for both to meet at that location.
   </span>
    </h2>
    
