 <div id="page" class="main_wrapper clearfix">
	<div id="faq">
		<h1>frequently asked questions</h1>			
		<h2>WHO</h2>
<p><strong>who created this site?<br /></strong>Franklin A. De Los Santos</p>
    <p><strong>do you really go to Santa Monica College?<br /></strong>yes I do :), but I haven't taken any classes related to programming there.</p>
<p><strong>Where are you from?<br /></strong>I'm from Switzerland, born in DR and lived in NY</p>
<p><strong>Where do you live now?<br /></strong>Los Angeles</p>
<p><strong>Are you self taught?<br /></strong>YES.</p>
<p> </p>
<h2>TECH</h2>
<p><strong>What is this site built with?<br /></strong>Ruby on Rails mostly</p>
<p><strong>How long did it take to build the first version?<br /></strong>about 2 weekends of hardcore coding</p>
    <p><strong>I want to build stuff just like you, can you recommend me anything to get started?<br /></strong>go to <a href="http://www.codecademy.com">Codecademy</a> learn HTML/CSS there and then go to <a href="http://javascriptissexy.com/how-to-learn-javascript-properly/">how to learn javascript properly</a> and master JavaScript.</p>
<p> </p>
<h2>BUSINESS</h2>
<p class="p1"><strong>are you hiring?<br /></strong>nope</p>
<p class="p1"><strong>will you be hiring?<br /></strong>I hope to</p>
<p class="p1"><strong>how do I get in contact with you?<br /></strong>contact info is somewhere around here... </p>
