



<style>
  .dropdown  {
      border: 0 !important;.  /*Removes border*/
     -webkit-appearance: none;  /*Removes default chrome and safari style*/
     -moz-appearance: none;  /*Removes default style Firefox*/
    width: 225px
  }
  
  #formsite
  {
    margin-left: 14%;
    margin-top: 0%;
  }
</style>

  
<div id="login-area" style="margin-bottom: 30px; margin-top: 50px; width: 100%; ">
 
  <div id="login-main" >
      <br /><br /><br />
      <div id="slide-stage" >
            
          

        <div id="signup-panel" style="  background: white; border-radius: 10px; border: 1px solid #e1e8ed; height: 550px; margin-left: auto;
                                       ">
				
 
					<h2>Sign Up</h2>
          <p>it's fast and easy!</p>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
          <div><%= f.label :username %><br />
            <%= f.text_field :username, autofucus: true, :class => "fruute-input sign-in", :size => 25 %>
          </div>
          
          
  <div><%= f.label :email %><br />
  <%= f.email_field :email, :id => 'user-email', :class => "fruute-input sign-in", :size => 25  %></div>
          
           <div><%=f.label :firstname %><br />
          <%= f.text_field :firstname, :class => "fruute-input", :size => 25 %>
        </div>
         
           <div><%=f.label :lastname %><br />
          <%= f.text_field :lastname, :class => "fruute-input", :size => 25 %>
          </div>
         
           <div><%=f.label :school %><br />
          
             <%= f.select( :school, User::SCHOOLS,{ :include_blank => "School..."}, { :class => "dropdown" })  %>
             
             <!-- <%= f.text_field :school, :class => "fruute-input sign-in", :size => 25 %> -->
        </div>
          

          
  <div><%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off", :id => 'user-password', :class => "fruute-input sign-in", :size => 25 %></div>
  <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", :id => 'user-password', :class => "fruute-input sign-in", :size => 25 %></div>
          <br />
  
          <%= button_tag(type: 'submit', class: "new-button", style: "width: 224px; height: 50px;") do %>
 <i class="fa fa-check"></i>
<% end %>
          
<% end %>
        
<!-- <%= render "devise/shared/links" %> -->

				</div>
				<div class="clear"></div>
			</div><!--end slidestage-->
			<div class="clear"></div>
		</div>
	

<br /><br />
  </div>
<style>
  a {
    color: #a7c5c5;
  }
</style>


</div>
  <div class="clear"></div>
<div id="bottom-media-area">
  
		<ul>
      <li style="font-size: 100%;">I'd like to hear from you<br><a href="mailto:delossantos.franklin@icloud.com">delossantos.franklin@icloud.com</a></li>
      <li>let's be friends<br>
					<a href="https://www.facebook.com/franklinexpress" target="_blank" id="share_facebook" class="share_icons">facebook</a>&nbsp;&nbsp;
					<a href="https://twitter.com/frdelossantos" id="share_twitter" target="_blank" class="share_icons">twitter</a>&nbsp;&nbsp;
					<a href="http://www.instagram.com/rooslin" target="_blank" id="share_instagram" class="share_icons">instagram</a>&nbsp;&nbsp;
					
        <li><%= link_to '<i class="fa fa-question fa-3x"></i>'.html_safe, pages_faq_path %></li>
			
      <li class="last"><i class="fa fa-leaf fa-3x" style="color: #a6d388;"></i></li>
		
		</ul>
         
</div><!--end main_wrap-->  




