

===============================================
 
You have received a new message:
Subject:<%= @message.subject.html_safe? ? @message.subject : strip_tags(@message.subject) %>
-----------------------------------------------
<%= @message.body.html_safe? ? @message.body : strip_tags(@message.body) %>
-----------------------------------------------

Visit <%= root_url %> and go to your inbox for more info.
