<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    You have a new message on oolab 
    Subject:<%= @message.subject.html_safe? ? @message.subject : strip_tags(@message.subject) %>
 <hr>
    <blockquote>
      <p>
        <%= raw @message.body %>
      </p>
    </blockquote>
    <p>
      Visit <%= link_to root_url,root_url %> and go to your inbox for more info.
    </p>
  </body>
</html>