<br />
<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div id="login-area" style="margin-top: 0px;">

		<div id="login-main">
			<center>
				<div id="login-error">
									</div>
			</center>
			<div id="slide-stage">
				<div id="login-panel">
 <div class="field">
   <%= hidden_field_tag :user_id, current_user.id %>
   
</div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, :class => "fruute-input", :size => 29 %>
  </div>
  <div class="field">
    <%= f.label :author, "author/brand" %><br>
    <%= f.text_field :author, :class => "fruute-input", :size => 29  %>
  </div>
  <div class="field">
    <%= f.label :course, "course or model" %><i> leave blank if none</i><br>
    <%= f.text_field :course, :class => "fruute-input", :size => 29 %>
  </div> 
          
  <div class="field">
    <%= f.label :category %><br>
    <%= f.select :category, options_for_select(Post::CATEGORY), {:prompt => "Select Category"}, :class => "dropdown", :style => "width:200px;" %>
          </div>    
     <div class="field">
       <%= f.label :school %><i> near you...</i><br />
       <%= f.select :school, options_for_select(User::SCHOOLS), {:prompt => "Select a School"}, :class => "dropdown", :style => "width:200px;"  %>
   </div>
          
          
          
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price, :class => "fruute-input", :size => 29 %>
  </div>
          
      <div style="margin-left:240px; margin-top: -250px;  padding: 10px; padding-left: 20px;">     
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, :class => "fruute-input", :style => " width: 500px; height: 200px;" %>
  </div>
          
          
        
        <br /><br />
          
  <div class="actions">
    <%= button_tag(type: 'submit', class: "new-button", style: "width: 224px; height: 50px; ") do %>
 <i class="fa fa-location-arrow"></i>
     <% end %>     
   <!-- <%= f.submit :id => "submit-login", :class => "new-button" %>-->
  </div>
<% end %>
      
          </div>
       
        </div>
      </div>
    </div>
   </div>


