 <style>
  #formsite
  {
     margin-top: -5%;
  }
</style>
<div id="samples_wrapper" class="main_wrapper">
  <div id="formsite">
  <h1>edit post</h1>
  </div>
<div id="main_wrap" class="main_wrapper">






<%= render 'form' %>

<%= link_to 'Show', @post %> |
<%= link_to 'Back', posts_path %>

  </div>