
     

<div id="main" class="container" style="min-width: 1160px; margin-left: auto; ">
<div class="main_wrapper">   
<div id="main">
        <div class="streamCategory">
          <ul id="navlist">
              
            <li><%= link_to "books", :controller => "posts", :action => "books", :category => "books", :style => "color: gray;"  %> </li>
              <li><%= link_to "gadgets", :controller => "posts", :action => "gadgets", :category => "gadgets" , :style => "color: gray;" %> </li>
              <li><%= link_to "services", :controller => "posts", :action => "services", :category => "services", :style => "color: gray;"  %> </li>
              <li><%= link_to "gear", :controller => "posts", :action => "gear", :category => "gear" , :style => "color: gray;" %> </li>
              <li><%= link_to "computers", :controller => "posts", :action => "computers", :category => "computers" , :style => "color: gray;" %> </li>
              <li><%= link_to "electronics", :controller => "posts", :action => "electronics", :category => "electronics" , :style => "color: gray;" %> </li>
             
              
            </ul>
        
          
          </div>
  <br /><br />
        <div class="column-center" >
       
          
          <h1 style="background: #8fa2ae; color: #fff;">
            posts</h1>
           <br />
       
        <% @posts.each do |post| %>
          
     
      <%= link_to post do %>
          <div id="streamline" style="margin-top: -2px;">

             ~<%=  post.email %>
            <br /><br />
    <h1 style="font-size: 160%;"><%= post.title %></h1>
    <i class="fa fa-map-marker fa-lg" style="margin-right: 5px; margin-left: 5px;"></i>  <%= post.school %>  <div style="float: right; text-align: left; margin-right: 20px;"> <i class="fa fa-usd fa-lg"></i><%= post.price %></div> 
    
          </div>
   
        
<% end %>
          
    <% end %>
             
           <%= will_paginate @posts %>
          
   
        </div>
       
   
   
           
  
      
  <div class="column-right" style="margin-top: 0px;">
   
    <h1 style=" background: #8fa2ae; color: #fff;">stream</h1>
    <br />
   
       <div id="streamline">
    <h1 style="font-size: 140%;">coming soon!</h1>
        </div>
   
        </div>
   
  </div></div>
  <!--end main_wrap--></div>

   