 <style>
  #formsite
  {
 
     margin-top: -5%;
     margin-bottom: -30px;
  }
</style>


<div id="main" class="container">
  

   <br /><br />
   <h1 style="font-size: 2.5em; float: left;">new post</h1>   
      <br />
     
  
 
   
<%= render 'form' %>

  <br />
</div>


  