

<style>
  #formsite
  {
     width: 100px;
     margin-right: 10px;
    
  }
   
  body { background: #f5f8fa; }

</style>
<!--
<div id="main_wrap" class="main_wrapper">
  <div id="formsite">
-->
  

<div class="main_wrapper" style="padding-bottom: 5px; padding-left: 10px; padding-top: 5px;  border: 1px solid  #e1e8ed; border-radius: 5px;  margin-top: 40px; min-height: 600px; background: white;">
  <div id="main" >
<p id="notice"><%= notice %></p>
  
  <h1 style="font-size: 1.5em; margin-top: -40px;">
  <strong>posted by</strong>
   
      <%= link_to @post.email, user_path(@post.user_id), :style => " border: 1px solid  #e1e8ed; border-radius: 5px; background:  #abcde4; color: white; " %>
    </h1>
  <hr>
  <h1> <%= word_wrap(@post.title, :line_width => 8) %></h1>
  <strong><%= @post.author %></strong><br />
  <hr style="width:100%;">
  <strong>course</strong><br />
  <h1 style="font-size: 1.5em"><%= @post.course %></h1>


<strong>category</strong><br />
  <h1 style="font-size: 1.5em"><%= @post.category %></h1>
    
    
  <strong>school</strong><br />
  <h1 style="font-size: 1.5em"><%= @post.school %></h1>


  <strong>price</strong><br />
  <h1 style="font-size: 1.5em"><%= @post.price %></h1>


    <br />
  <div style="margin-left:330px; margin-top: -155px; border-left: 1px solid #c8ccd3; padding: 5px; padding-left: 20px;">
  <h1>description</h1>
<h1 style="font-size: 1.5em"><%= word_wrap(@post.description, :line_width => 4) %></h1>
 

  <br />
  <i> posted on <%= @post.created_at.strftime("%a, %m/%e/%Y %I:%M %p") %></i><br /><br />
   

  
  
   <%= link_to '<i class="fa fa-reply"></i>'.html_safe, new_message_path(:user => @post.email), :class => "new-button" %>
<!--%= render 'messages/form', conversation: conversation % -->
   </div>
   </div>
   
    

